<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Source" value="C:\TEMP\PRG_P3\"/>
    <add key="Result" value="C:\TEMP\LOG_P3\"/>
    <add key="ServeurDest" value="SR%codehex%01"/>
    <add key="PathDestSource" value="C$\TEMP\SOURCE_JS\"/>
    <add key="PathDestResult" value="C$\TEMP\RESULT_JS\"/>
    <add key="ProgramExec" value="ExecReqSql.exe"/>
    <add key="PsExec" value="C:\PROGRAM FILES\ADMIN_PDV\TOOLS\PSEXEC.EXE"/>
    <add key="Login" value="N/A"/>
    <add key="Password" value="N/A"/>
  </appSettings>
</configuration>